/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #161616;
}

.banner-title h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.banner-title p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}