/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    display: flex;
    align-items: center;
    width: 900px;
    height: 600pxpx;



}

.banner-title {
    /* color: white; */
    width: 531px;
    height: 424px;
    left: 280px;
    top: 161px;
}

.banner-img {
    width: 581px;
    height: 613px;
    left: 835px;
    top: 83px;
}

.transfar-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    padding-left: 50px;
}

.transfar {
    width: 312px;
    height: 362px;
    left: 476px;
    top: 820px;

}

.transfar button {
    width: 100px;
    height: 32px;
    left: 496px;
    top: 1407px;

}

.transfar p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}