/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    display: flex;
    align-items: center;
    width: 900px;
    height: 600pxpx;
}

.banner-title {
    /* color: white; */
    width: 531px;
    height: 424px;
    left: 280px;
    top: 161px;
}

.banner-img {
    width: 581px;
    height: 613px;
    left: 835px;
    top: 83px;
}

.transfar-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    padding-left: 50px;
}

.transfar {
    width: 312px;
    height: 362px;
    left: 476px;
    top: 820px;

}

.transfar button {
    width: 100px;
    height: 32px;
    left: 496px;
    top: 1407px;

}

.transfar p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}

.transfar-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 26px;
    left: 496px;
    top: 1136px;
}

.footer-section {
    background-color: black;
}

.goal {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

hr {
    width: 1320px;
    height: 0px;
    left: 140px;
    top: 2330px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-name {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;

}

@media only screen and (max-width:576px) {
    .thumbnail-and-transfar {
        background-color: aqua;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;

    }

    .footer-section {
        background-color: aqua;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;


    }
}

@media screenand (min-width:577px) and (max-width:768px) {
    .thumbnail-and-transfar {
        background-color: burlywood;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;

    }

    .footer-section {
        background-color: burlywood;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;


    }

}